<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="col-sm-8 col-lg-4"></div>
    <div ng-app="QuizApp" ng-controller="QuizCtrl as ctrl" class="col-sm-8 col-lg-4">
        <form ng-submit="ctrl.submitAnswer()" class="form-group">
            <h3> Question: {{ ctrl.question }}</h3>
            <h3>Answers: </h3>
            <div ng-repeat="option in ctrl.options" >
                <input type="radio" name="choices" ng-model="ctrl.choice" ng-value="{{$index}}"> {{ option }}
            </div>
            <div>
                <h3>Comments</h3>
                <input type="text" ng-model="ctrl.comments">
            </div>
            <hr>
            <input type="submit">
        </form>
        <div>{{ctrl.status}}</div>
    </div>
</body>

</html>